:root{/* Raiz do documento */
    --vermelho:#E50914; /* Declarando variavel */
    --preta:#141414;
}

*{/* Reset CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;/* Limita saida da caixa, não permite que elementos saim dela*/
}
/* Elementos base */
body{
    background: var(--preta);/* chamando variavel definida */
    font-family: 'Times New Roman', Times, serif;
    color: white;
    
}

header .conteiner{/* caixa */
    display: flex; /* Alinha elementos na tela em Linha padrão*/
    flex-direction: row;/* Igual ao padrão */
    align-items: center;
    justify-content: space-between; /* Alinha na Horizontal, espaço entre elemento */

}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

/* MENU */
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px; /* espaço referente ao elemento a direita */
}

header nav a:hover{
    color: #fff;
}

/* Filme pricipal */
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),url('../img/bates.jpg');
    height: 400px;
    background-size: cover;/* Ajusta a imagem dentro da caixa, area de cobertura */

    display: flex;/* joga elementos em linha */
    flex-direction: column;/* Colocando flex como colunas */
    justify-content: center;
    align-items: flex-start;/* Começa da esquerda */

}
.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;/* espaço sobre o elemento de baixo */
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS',Arial, sans-serif;
}
.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;/* Espaçamento interno */
    margin-right: 15px;/* Espaçamento de um elemento a outro */
    font-size: white;
    cursor: pointer;/* muda o curso */
    transition: .3s ease all;/* animação do botão e time */
}
.botao:hover{
    background-color: white;
    color: black;

}
.botao i{
    margin-right: 5px;
}