@media screen and (max-width: 700px){/* 700 pra baixo */
    header .container{
        display: flex;
        flex-direction: column; /* Joga o menu pra baixo */
        padding: 5px;
    }
    .botao{
        margin-top: 5px;
        width: 190px;
        height: 60px;
    }
}

@media screen and (min-width: 1000px){/* 1000 pra cima */
    .descricao{
        width: 50%;
    }
}